body {
  background-image: url("https://wallpaperscraft.com/image/road_mountain_landscape_84512_1920x1080.jpg");
  background-position: bottom center;
  background-size: cover !important;
  background-attachment: fixed;
  height: 400px;
  margin-top: 3%;
}

.navbar {
  width: 65%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Signika', sans-serif;
}

.navbar-li {
  width: 16%;
  background-color: white;
  text-align: center;
  padding: 1%;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.navbar-li-last {
  display: inline-block;
  width: 12%;
  background-color: white;
  text-align: center;
  padding: 1%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

main {
  margin: 0 auto 10%;
  width: 65%;
  box-sizing: border-box;
  line-height: 130%;
  font-family: 'Signika', sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  color: #33963A;
  font-weight: bold;
  font-family: 'Signika', sans-serif;
}

a:hover {
  text-decoration: none;
  color: red;
  font-weight: normal;
  font-family: 'Signika', sans-serif;
}

.headings {
  padding: 2px 0 2px 0;
  margin: 2px 0 2px 0;
  font-family: 'Signika', sans-serif;
}

.section {
  clear: both;
  font-size: 16px;
  padding: 4%;
  background-color: white;
  overflow: hidden;
  font-family: 'Signika', sans-serif;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.link-li {
  padding: 0 10px;
  font-family: 'Signika', sans-serif;
}

.image-right {
  float: left;
  position: static;
  margin: 0px 10% 0 0 ;
}

.float-right {
  text-align: right;
}

code {
  background-color: #E8CCAB;
  font-size: 14px;
  font-family: "Courier New", "Courier", monospace;
  font-weight: normal;
  padding: 1px 4px 1px 4px;
  border-radius: 4px;
}

.gist {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.gist-file {
  margin-bottom: 0;
}

.month-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.cell {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  width: 48%;
  margin-bottom: 4%;
  padding: 2%;
}

.cell p {
  font-size: small;
  color: #c3c3c3;
  font-style: italic;
}

#special {
  background-color: #F2FFE1;
}

/* red mountain
https://images.unsplash.com/photo-1450992000852-086b70712859?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d938ced2caafe4161eb595403dfee831

green background with pinkish blossoms on the tree
https://images.unsplash.com/photo-1452723311049-05685d7428ce?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f2b40f3f09fc43b7feb2ff9534047e0

norway rgreen mountain
https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a2c92beb6008deea628dc2a5d332998c


mountain with road
http://eskipaper.com/images/mountain-road-wallpaper-4.jpg

mountain with side road
https://wallpaperscraft.com/image/road_mountain_landscape_84512_1920x1080.jpg

/
