body {
  background-image: url("https://images.unsplash.com/photo-1450992000852-086b70712859?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d938ced2caafe4161eb595403dfee831");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  background-attachment: fixed;
  padding: 5%;
  margin: auto;
  width: 60%;
  height: 400px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 6px 6px;
    text-decoration: none;
}

a:link {
  text-decoration: none;
  color: brown;
  font-weight: normal;
}

a:hover, a:visited {
  text-decoration: none;
  color: orange;
  font-weight: normal;
}

nav {
  font-size: 16px;
  font-family: "Source Sans Pro";
  background-color: white;
  padding: 2px 13px 2px;
  margin: 0px 0px 10px;
}

.headings {
  padding: 2px 0 2px 0;
  margin: 2px 0 2px 0;
}

.section {
  font-size: 16px;
  font-family: "Source Sans Pro";
  padding: 4%;
  background-color: white;
  overflow: hidden;
}

.links {
  display: block;
  float: right;
}

.image-right {
  float: left;
  margin: 0px 20px 0 0 ;
}









/* red mountain
https://images.unsplash.com/photo-1450992000852-086b70712859?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=d938ced2caafe4161eb595403dfee831

green background with pinkish blossoms on the tree
https://images.unsplash.com/photo-1452723311049-05685d7428ce?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=5f2b40f3f09fc43b7feb2ff9534047e0

norway rgreen mountain
https://images.unsplash.com/photo-1439524970634-649c37a69e5c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a2c92beb6008deea628dc2a5d332998c   

/