/*potential backgrounds:

mountain and trees
background-image: url("https://images.unsplash.com/photo-1454982523318-4b6396f39d3a?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4e47e1875683e075de238e0c5cddf812");

mountain, trees, water
background-image: url("https://images.unsplash.com/photo-1444136723005-b0f64ef04acc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4d3578989e74ed05f14d44150f494096");

misty mountains
background-image: url("https://images.unsplash.com/photo-1443998486566-cc8482a99bfd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c8e0b05d4128a0c34d478fd0f2f1c3c2");

lone hiker looking down on mountainous path
background-image: url("https://images.unsplash.com/photo-1444405406630-ac78b6e0b1fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b7b77594c5756fbf76f577285979cceb");

*/

body {
  background-image: url("https://images.unsplash.com/photo-1443998486566-cc8482a99bfd?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=c8e0b05d4128a0c34d478fd0f2f1c3c2");
  background-size: cover !important;
  background-attachment: fixed;
  font-family: 'Architects Daughter', cursive;
}

main {
  width: 70%;
  margin: 4% auto;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 5%;
}

section {
  clear: both;
  width: 44%;
  float: left;
  margin: 1% 1% 1% 0%;
  padding: 1% 2%;
  /*border: 1px solid white;*/
}

aside {
  display: inline-block;
  float: right;
  width: 45%;
  margin: 1% 0% 1% 1%;
  padding: 1% 2%;
  /*border: 1px solid white;*/
}

h1, h2 {
  text-align: right;
  background: rgba(255, 255, 255, 0.4);
  padding: 3%;
  font-size: xx-large;
}

.first_col {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

.second_col {
  width: 50%;
  box-sizing: border-box;
  float: left;
}

p {
  background: rgb(29, 97, 67);
  /*border: 1px solid white;*/
  width: 90%;
  padding: 0;
  text-align: center;
  margin: 5% auto;
  font-size: large;
}

.quote {
  background: rgba(41, 14, 11, 0.6);
  color: #d3d3d3;
  text-align: left;
  font-family: 'Poiret One', cursive;
  font-size: x-large;
  box-sizing: border-box;
  padding: 5%;
}