<footer id="footer" class="footer">
  <div class="container">
    <div class="has-text-centered content">
      <div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
      <div>Denver, Colorado, USA</div>
    </div>

    <div class="buttons is-centered">
      {% for link_value in site.data.social %}
        {% assign link_tag = link_value[0] %}
        {% assign link = site.data.social[link_tag] %}

        <a href="{{ link.link }}" target="_blank" class="button is-outlined">
          <span class="icon"><i class="fa {{ link.icon }}"></i></span>
          <span>{{ link.name }}</span>
        </a>

      {% endfor %}
    </div>

    <p class="copyright has-text-centered">&#169; Esther Leytush 2023</p>
  </div>
</footer>
