<!-- <footer id="footer">

  <section>
    <p>Do you need mentorship? Are you looking for a developer? Reach out! Maybe we can help each other.</p>
    <ul class="actions">
      <li><a href="mailto:eleytush@gmail.com" class="button">Email Me</a></li>
    </ul>
  </section>

  <section>
    <dl class="alt">
      <dt>Current</dt>
      <dd>Brooklyn &bull; New York &bull; USA</dd>
      <dt>Email</dt>
      <dd><a href="#">{{ site.email }}</a></dd>
    </dl>

    <ul class="icons">
      {% for link_value in site.data.social %}
        {% assign link_tag = link_value[0] %}
        {% assign link = site.data.social[link_tag] %}

        <li>
          <a href="{{ link.link }}" target="_blank" class="icon fa {{ link.icon }} alt">
            <span class="label">{{ link.name }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <p class="copyright">&#169; Esther Leytush 2016 - 2017. All rights reserved.</p>
</footer> -->
