<!-- only visible on mobile -->
<section id="menu">
  <section>
    <ul class="links">
      <li>
        <a href="/index">
          <p>Home</p>
        </a>
      </li>

      <li>
        <a href="/blog">
          <p>Blog</p>
        </a>
      </li>

      <li>
        <a href="/contact">
          <p>Contact</p>
        </a>
      </li>

      <li>
        <a href="/projects">
          <p>Projects</p>
        </a>
      </li>

      <li>
        <a id="resume-link" href="https://resume.creddle.io/resume/h8u15yv6b0r">
          <p>Resume</p>
        </a>
      </li>
    </ul>
  </section>
</section>
