// Index
.index {
  margin-top: 2.5rem;

  img {
    border: 1px solid #e1e1e1;
    width: 100%;
  }

  .topper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 8rem;

    @media screen and (min-width: $tablet-starts){
      h1 {
        margin-left: -40px;
        margin-bottom: 40px;
      }
    }
  }

  .resume-image {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: .3s;
    margin-bottom: 10px;

    &:hover {
       box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
  }

  .tile .content.row-content {
    img, p { display: inline; }
    img {
      float: left;
      margin-right: 20px;
      max-height: 170px;
      object-fit: cover;
    }
  }

  #projects {
    .title .icon {
      color: darken(whitesmoke, 10%);
      margin-right: 5px;
    }
  }
}

// Blog and posts

.post-title { margin-bottom: 10px; }

#post article { margin-bottom: 1.5rem; }

#career {
  padding: 6rem 1.5rem !important;
  font-size: 1rem;
}
