// Index
.index {
  margin-top: 2.5rem;

  img {
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .topper {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 0 8rem;

    @media screen and (min-width: $tablet-starts){
      h1 {
        margin-left: -40px;
        margin-bottom: 40px;
      }
    }
  }

  .resume-image {
    border: 1px solid $primary-hover;
    border-radius: 4px;
  }

  .tile .content.row-content {
    img, p { display: inline; }
    img {
      float: left;
      margin-right: 20px;
      max-height: 170px;
      object-fit: cover;
    }
  }

  #projects {
    .title .icon {
      color: darken(whitesmoke, 10%);
      margin-right: 5px;
    }
  }
}

// Blog and posts

.post-title { margin-bottom: 10px; }

#post article { margin-bottom: 1.5rem; }
