body { overflow-x: hidden; }

a { color: $primary-color; }
a:hover, a:active { color: lighten($primary-color, 20%); }

.Site {
  margin-top: 3.25rem;

  padding: 0 2.5rem;

  @media screen and (min-width: $tablet-starts) {
    padding: 0 20%;
  }
}

#navbar {
  padding: 0 1.5rem;

  @media screen and (min-width: $mobile-starts) {
    padding-left: calc(20% - 1rem);
    padding-right: calc(20% - 1rem);
  }
}

.content-container { margin: 4.5rem 0; }
.section-container { margin: 1.5rem 0; }

.copyright { font-size: 12px; }
