body { overflow-x: hidden; }

a { color: $primary-color; }
a:hover, a:active { color: lighten($primary-color, 20%); }

.Site {
  margin-top: 3.25rem;
  padding: 0 2.5rem;

  @media screen and (min-width: $tablet-starts) {
    padding: 0 20%;
  }
}

#navbar {
  padding: 0 1.5rem;

  @media screen and (min-width: $mobile-starts) {
    padding-left: calc(20% - 1rem);
    padding-right: calc(20% - 1rem);
  }
}

.content-container { margin: 4.5rem 0; }
.section-container { margin: 1.5rem 0; }

.copyright { font-size: 12px; }
.attribution {
  text-align: right;
  display: block;
  position: relative;
  top: -15px;
  font-size: 12px;
  color: lightgray;
  transition: all 1s ease-in-out;
  opacity: 0;
  top: calc(100% + 5px);

  &:not(:empty){ opacity: 1; } // cool fade-in effect
}

.parallax-hero {
  height: 400px;

  margin: 0 -34% 1.5rem;
  padding: 0px 34%;
  background-color: transparent;

  .hero-body {
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}

.parallax {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -1;
    left: 0;
    z-index: 3;
    background-color: $primary-color;
    opacity: 1;
    transition: all 1s ease-in-out;
  }

  &.parallax-loaded::before {
    opacity: 0;
  }
}
