@charset "utf-8";

// Site variables
$base-font-family: 'News Cycle', sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$black:            #000000;
$grey-color:       #F7F1F1;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$blue-light:       rgba(88, 131, 127, 1);
$blue-light-vis:   lighten($blue-light, 20%);
$blue-dark:        darken($blue-light, 20%);

// Width of the content area
$content-width:    800px;

$palm:             480px;
$medium:           544px;
$medium-end:       758px;
$laptop:           992px;

@import
    "base",
    "layout",
    "projects",
    "syntax",
    "thickbox",
    "stack-theme",
    "sidebar",
    "pages",
    "header"
;

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0 30px;
}

.Site-content {
  flex: 1;
}

#main-wrapper {
  float: right;

  #main {
    margin-top: 70px;

    @media screen and (min-width: $medium) {
      margin-top: 150px;
    }

    @media screen and (min-width: $laptop) {
      margin-top: 100px;
    }
  }
}

#sidebar {
  display: none;
}

@media screen and (min-width: $laptop) {
  #header {
    display: none;
  }

  #sidebar {
    display: inline;
  }
}

footer {
  float: right;
}
