// --- Variables --------------------------------

// Colors
$primary-color: 		#589383;
$primary-hover:			lighten($primary-color, 10%); 


// Sizes
$mobile-starts: 		450px;
$mobile-ends: 			768px;
$tablet-starts: 		769px;
$tablet-ends: 			959px;
$desktop-starts: 		960px;
$desktop-ends: 			1151px;
$widescreen-starts: 1152px;
$widescreen-ends: 	1343px;
$fullhd-starts: 		1344px;



// --- Imports ----------------------------------
@import
	"bulma",
	"syntax_highlighting",
	"layout",
	"index"
