@charset "utf-8";

// Site variables
$base-font-family:  'Quicksand', sans-serif;
$base-font-weight:  300;

$header-weight:     400;

$indigo:            #2F3E46;
$slate-gray:        #354F52;
$pastel-gray:       #CAD2C5;
$sea-green:         #2E8562;
$light-green:       #84A98C;

$black:            #000000;
$white:            #FFFFFF;

$grey-color:       #F7F1F1;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$spacing-unit:      30px;

$palm:             480px;
$medium:           544px;
$medium-end:       758px;
$laptop:           992px;

@import
  "scss/layout",
  "scss/pages/index",
  "scss/pages/pages",
  "scss/pages/blog",
  "scss/syntax"
;
