// ------------------------------------
// Blog index page
// ------------------------------------

.posts {
  margin: 0;
  padding: 0;
  list-style: none;

  h2 {
    margin: 22px 0;
    font-size: 18px;
  }

  li {
    padding: 0 0 10px 20px;
  }
}

// ------------------------------------
// Index page
// ------------------------------------

#home {
  .image-wrapper {
    background-image: url("/assets/images/dual-screen.jpg");
    // background-image: url("/assets/images/green-screens.jpg");
    // background-image: url("/assets/images/partial-comp.jpg");
    background-size: cover;
    background-position: bottom center;
    height: 500px;
    width: 100%;
  }

  .hello-world {
    height: 500px;
    text-align: center;
    padding: 20px;
    padding-top: 15%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid grey;
    width: 100%;
  }

  h1 {
    color: black;
    font-size: 70px;
  }

  h3 {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    line-height: 1.5;
  }

  @media screen and (min-width: $medium-end) {

    .hello-world {
      padding-top: 10%;
    }

    h1 {
      font-size: 90px;
    }

    h3 {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 30px;
    }
  }

  @media screen and (min-width: $laptop) {
    .image-wrapper {
      height: 80vh;
    }

    .hello-world {
      height: 80vh;
      padding: 30px;
      padding-top: 15vh;
    }
  }
}

// -----------------------------------------------
// Projects page
// -----------------------------------------------

#projects {

  .tabs-wrapper {
    margin-bottom: 30px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $grey-color;
    }

    li {
      padding: 5px 20px;
      margin: 0 3px 0 0;
      border: 1px solid $grey-color;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom: none;
      height: 35px;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      border-bottom: 1px solid white;
      margin-bottom: -1px;
      height: 36px;
    }
  }

  .project-box {
    font-size: 12px;

    .panel-heading {
      font-size: 14px;
    }

    .bottom-footer-section {
      height: 50px !important;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
    }

    @media screen and (min-width: 992px) {
      .panel-body {
        height: 250px;
      }

      .panel-footer {
        height: 140px;
      }
    }
  }
}

// -----------------------------------------------
// Contact page
// -----------------------------------------------

#contact {
  .social {
    text-align: center;
  }

  .contact-page-link {
    font-size: 30px;
  }
}
