/**
 * Master styling
 */
body {
    font-family: "Roboto Condensed", Arial, sans-serif;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5em;
    color: #666;
    font-weight: 300;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #F7F1F1;
    border-bottom: 1px solid #fff;
}

/**
 * Font and link declarations
 */
span.time, span.categories {
    color: #ADADAD;
    margin-bottom: 5px;
    font-size: 11px;
}

h1 {
    font-weight: normal;
    color: #696969;
    margin-bottom: 10px;
    font-size: 25px;
}

h2 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
}

h3 {
    font-weight: normal;
    margin-bottom: 5px;
    color: #666666;
}

// a, a:link, a:active {
//     text-decoration: none;
//     color: #8C8C8C;
// }

a:hover {
    color: #B3B3B3;
    text-decoration: underline;
}

.right {
    width: 500px;
    float: left;
}

.content {
    border-top: 1px solid #E6E6E6;
    margin-top: 5px;
    padding-top: 5px;
}

.content pre {
    background: #333333;
    padding: 10px;
    color: #FFF;
    overflow-x: auto;
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 12px;
    border: none;
}

.content .highlight {
	background: #333333;
}

footer {
    border-top: 1px solid #F7F1F1;
    width: 100%;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 3em;
    padding-top: 10px;
    color: #C2C2C2;
    font-size: 11px;
    bottom: 0;
    padding-bottom: 10px;
}

footer #github {
	text-align: right;
}

.right h1 {
	margin-bottom: -2px;
}

.right ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.right ul li {
	margin-top: 5px;
	margin-left: 0;
	padding: 0;
}

.right .post ul {
	list-style: square;
	margin-left: 15px;
}

.PageNavigation {
    font-size: 14px;
    display: block;
    width: auto;
    overflow: hidden;
}

.PageNavigation a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
}

.PageNavigation .next {
    text-align: right;
}
.PageNavigation .prev {
    text-align: left;
}

.social{
    display: block;
    margin: 10px 0;
}
.social ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.social ul li {
    display: inline-block;
    margin: 0 5px;
}
.social li a {
    font-size: 16px;
}

.share-page {
    padding: 10px 10px 5px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}



.post-content img, .content img {max-width: 100%}

// .post-header p {
//   text-align: center;
// }
