body {
  margin: 0;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0a/Street_in_the_Jewish_Quarter_in_Jerusalem_Old_City.jpg");
  background-size: cover !important;
  background-attachment: fixed;
}

nav {
  width: 70%;
  margin: auto;
  list-style: none;
  background: rgba(255, 255, 255, 0.9);
}

.navbar-li {
  display: inline-block;
  width: 12%;
  border: 1px solid white;
  background: rgba(41, 14, 11, 0.6);
  margin: 1%;
  padding: 1%;
  text-align: center;
}

.navbar-li a {
  text-decoration: none;
  color: white;
}

header {
  box-sizing: border-box;
  width: 70%;
  margin: 2% auto;
  overflow: hidden;
}

header img {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 70%; 
  margin: auto;
}

section {
  clear: both;
  float: left;
  width: 64%;
  background: rgba(255, 255, 255, 0.9);
  padding: 1% 2%;
  margin: 1% 1% 1% 0%;
}

section span {
  display: block;
  padding: 10px;
  width: 50%;
  margin: auto;
  color: white;
  background: rgba(41, 14, 11, 0.6);
  font-weight: 100;
}

aside {
  display: inline-block;
  float: right;
  width: 25%;
  background: rgba(41, 14, 11, 0.6);
  color: white;
  padding: 1% 2%;
  margin: 1% 0% 1% 1%;
}

section img {
  float: left;
  width: 30%;
  margin: 0% 2% 2% 0%;
}

footer {
  clear: both;
}



/* golden jerusalem street: 

https://upload.wikimedia.org/wikipedia/commons/0/0a/Street_in_the_Jewish_Quarter_in_Jerusalem_Old_City.jpg

street and door:
http://www.hdnicewallpapers.com/Walls/Big/Countries%20and%20City/Jerusalem_Old_Streets_Image.jpg

 */
 