<div class="content-container no-top-margin">
  <div class="content">
    <p><b>Tech leadership, independent contributor</b></p>

    <p>Joy at work is when the team is encouraged to look holistically and thoughtfully at the known and unknown problems, what our users and stakeholders are saying, and the health of our codebase. I love having time, support, and agency to define and implement solutions that target root-cause issues.</p>
    <p>I prefer Rails-based codebases, appreciate an open-source model for multi-team codebase ownership, and believe that domain owners should be empowered to ship changes to everywhere those domains are used.<p/>
  </div>

  <div class="content">
    <p><b>Things I love</b></p>
    <div>
      <p>
        <span>&#129309;</span> <!-- handshake -->
        Free and open collaboration with product, design, stakeholders, and engineering at large to define, prioritize, and produce solutions. I like teams that have a voice in desiging the big picture as well as working through implementation details.
      </p>
  
      <p>
        <span>&#129367;</span> <!-- salad -->
        Delivering complete bottom-to-top slices of work, from the database design to the views, and especially having time to consider how each layer should function to make one unified whole. Writing and maintaining documentation throughout the project lifecycle.
      </p>
  
      <p>
        <span>&#129368;</span> <!-- melting pot -->
        Protecting my team's time and space, mutual mentorship and growth, and learning from each other. Laid-back team environments that run on <a href="http://james-iry.blogspot.com/2009/05/brief-incomplete-and-mostly-wrong.html" target="_blank"><b>humor</b></a>, positivity, and shipping.
      </p>
  
      <p>
        <span>&#128218;</span> <!-- books -->
        Having space and time to think idly about user and codebase needs, how it might look to shore up gaps and problems, iterate on problematic patterns or legacy code, and create greater production transparency.
      </p>
  
      <p>
        <span>&#128161;</span> <!-- lightbulb -->
        Following my curiosity into different codebase areas, and creating varied days for myself.
      </p>
  
      <p>
        <span>&#127793;</span> <!-- leaf -->
        Genuine work-life balance: on the work side, being empowered to bring my full attention to bear upon a team-defined roadmap; on the life side, experiencing a broad company culture of keeping time boundaries so people can manage their own time, care for their families and themselves, and fully step away every day at the end of each work day.
      </p>
    </div>
  </div>
</div>