{% include parallax.html %}

<section class="content section is-medium" id="career">
  <div class="container">
    <h3 class="content">Engineering leader & independent contributor</h3>
    <div class="content">
      <p>I work to ensure that my team and I have the time to look holistically and thoughtfully at the known and unknown problems, what our users and stakeholders are saying, and the health of our codebase; and to then have the freedom, support, and agency to define and implement medium- and long-term solutions that solve the root-cause issues.</p>
      <p>I prefer to work in a full-stack fashion in Rails-based codebases and believe that domain owners should ship changes wherever those domains appear.<p/>
    </div>
    <div class="content">
      <p>Things I love:</p>
      <ul>
        <li>genuine work-life balance - on the work side, being empowered to bring my full attention to bear upon a team-defined roadmap; and on the life side, experiencing a broad company culture of keeping time boundaries so people can manage their own time, care for their families and themselves, and fully step away every day at the end of each work day.</li>
        <li>having the agency to freely collaborate with product, design, stakeholders, and engineering broadly to define, prioritize, and produce solutions</li>
        <li>delivering complete bottom-to-top slices of work, from the database design to the views. I like for myself and my team to have a voice in desiging the big picture as well as working through implementation details. I like having time to consider how each layer should function to make one unified whole.</li>
        <li>protecting my team's time and space, mentoring and growing engineers, and learning from my peers</li>
        <li>supporting laid-back team environments that run on humor, positivity, and interpersonal support</li>
        <li>having space and time to think idly about user and codebase needs, how it might look to shore up gaps and problems, iterate on problematic patterns or legacy code, and create greater production transparency</li>
        <li>having space to follow my curiosity into different codebase domains, and creating varied days for myself</li>
      </ul>
    </div>
    <div class="content">
      <p>
        <a href="{{ site.baseurl }}/_static/{{ site.resume.download_url }}" download="{{ site.resume.download_url }}" target="_blank" class="button is-primary is-outlined">
          Download resume
        </a>
      </p>
    </div>
  </div>
</section>
