{% include parallax.html %}
<section class="content section is-medium">
  <div class="container">
    <div class="content">
      <p>
        <strong>Independent contributor</strong><br/>
        I'm a full-stack Rails-based engineer.<br/>
        I love working through complete bottom-to-top slices of work, from designing the database tables to implementing the view designs. Modeling concepts is my favorite - thinking through how to transition models to their next states, or implementing new features within existing concepts.
      </p>
    </div>
    <div class="content">
      <p>
        <strong>Collaborative coder</strong><br/>
        My best work comes through collaboration.<br/>
        This looks like writing architectural design documents, gathering consensus, thinking through use-cases, and being sure to involve stakeholders and peers in determining how a given system or piece of functionality should behave.
      </p>
      <p>
        <a href="{{ site.baseurl }}/_static/{{ site.resume.download_url }}" download="{{ site.resume.download_url }}" target="_blank" class="button is-primary is-outlined">
          Download resume
        </a>
      </p>
    </div>
  </div>
</section>

{% include parallax.html %}
<section class="content section is-medium">
  <div class="container">
    <div class="content">
      <p>
        <strong>I love ...</strong><br/>
        &#8594; working closely with product, design, and engineering leadership<br/>
        &#8594; mentoring junior engineers and learning from my peers<br/>
        &#8594; team environments which revolve around humor, positivity, & interpersonal support<br/>
        &#8594; leading projects from inception to completion<br/>
        &#8594; freedom to tackle the problems others don't have time for<br/>
        &#8594; bringing new life to legacy code so it's no longer legacy code<br/>
      </p>
    </div>
    <div class="content">
      <p>
        I look for license to dream through problems, to think through what a better codebase might look like, to have space to make that vision a reality.
      </p>
    </div>
  </div>
</section>
