<div class="content-container has-text-centered">
  <h2>Can you tell I like beautiful images?</h2>
  <p><a href="/" class="button is-success" id="beautiful-images-reload-button">Refresh this page to see new pictures</a></p>

  <div class="content-container">
    <h3>And, programmer humor!</h3>
    <div class="columns">
      <div class="column">
        <a class="button is-primary is-outlined is-full-width" href="http://james-iry.blogspot.com/2009/05/brief-incomplete-and-mostly-wrong.html" target="_blank">A  history of languages</a>
      </div>

      <div class="column">
        <a class="button is-primary is-outlined is-full-width" href="https://blog.toggl.com/world-created-programmer/" target="_blank">Devs designing worlds</a>
      </div>

      <div class="column">
        <a class="button is-primary is-outlined is-full-width" href="https://imgur.com/gallery/qA4Bu" target="_blank">Terrible phone inputs</a>
      </div>
    </div>
  </div>
</div>
