<div class="columns">
  <div class="column">
    <div class="content" id="header">
      <div class="profile-image">
        <img src="/assets/images/profile/profile_pic_3.jpg" alt="profile">
      </div>

      <h1>Hi! I'm Esther ~</h1>

      <p>I'm a backend-leaning full-stack tech lead.</p>

      <p>
        Ruby on Rails is my jam. Building meaningful software, resolving user pain, and working freely across layers, business functions, and tech makes me happy.
      </p>
      
      <div class="buttons">
        {% for link_value in site.data.social %}
          {% assign link_tag = link_value[0] %}
          {% assign link = site.data.social[link_tag] %}
          <a href="{{ link.link }}" target="_blank" class="button is-outlined">
            <span class="icon"><i class="fa {{ link.icon }}"></i></span>
            <span>{{ link.name }}</span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="column">
    {% include index/resume.html %}
  </div>
</div>