{% assign download_location = "_static/eleytush_resume.pdf" %}

<div class="content-container">
  <a href="{{ site.baseurl }}/{{ download_location }}" download="{{ site.baseurl }}/{{ download_location }}" target="_blank">
    <img class="resume-image" src="/assets/images/eleytush_resume.jpg" alt="Esther Leytush resume">
  </a>

  <div class="buttons is-centered">
    <a href="{{ site.baseurl }}/{{ download_location }}" download="{{ site.baseurl }}/{{ download_location }}" target="_blank" class="button is-primary">Download Resume</a>
  </div>
</div>
