{% include parallax.html %}

<div class="content content-container">
  <a href="{{ site.baseurl }}/_static/{{ site.resume.download_url }}" download="{{ site.resume.download_url }}" target="_blank">
    <img class="resume-image" src="/assets/images/esther_leytush_software_engineer_resume.jpg" alt="Esther Leytush resume">
  </a>
  <div class="buttons is-centered">
    <a href="{{ site.baseurl }}/_static/{{ site.resume.download_url }}" download="{{ site.resume.download_url }}" target="_blank" class="button is-primary">
      Download Resume
    </a>
  </div>
</div>
