<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="Site">
      <div class="Site-content">
        {% include header.html %}
        {% include sidebar.html %}

        <div id="main-wrapper">
          <div id="main">
            {{ content }}
          </div>
        </div>

        {% include footer.html %}
      </div>
    </div>

    <script id="dsq-count-scr" src="//estherleytush.disqus.com/count.js" async></script>
    <script src="/assets/javascript/main.js"></script>
  </body>
</html>
