<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="Site container">
      <div class="Site-content row">
        {% include header.html %}
        {% include sidebar.html %}

        <div id="main-wrapper" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
          <div id="main">
            {{ content }}
          </div>
        </div>
      </div>

      {% include footer.html %}
    </div>

    <script id="dsq-count-scr" src="//estherleytush.disqus.com/count.js" async></script>

    <script src="/assets/javascript/bootstrap.min.js"></script>
    <script src="/assets/javascript/skel.min.js"></script>
    <script src="/assets/javascript/util.js"></script>
    <script src="/assets/javascript/main.js"></script>

    {% include mobile-popout-menu.html %}
  </body>
</html>
