
// ------------------------------------
// Index page
// ------------------------------------

#home {
  #panel-1 {
    height: 90vh;

    h1 {
      font-size: 80px;
      margin-bottom: 10px; 
    }
  }


}
