// ------------------------------------
// Blog index page
// ------------------------------------

.posts {
  margin: 0;
  padding: 0;
  list-style: none;

  h2 {
    margin: 22px 0;
  }

  li {
    padding: 0 0 10px 20px;
  }

}

.blog-pagination {
  display: flex;
  justify-content: space-around;

  .custom-pagination {
    width: 80px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
  }

  .pagination-disabled {
    background-color: lighten(#eee, 3%);
    color: lightgrey;
  }
}

// -----------------------------------------------
// Projects page
// -----------------------------------------------

#projects {

  .tabs-wrapper {
    margin-bottom: 30px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid $grey-color;
    }

    li {
      padding: 5px 20px;
      margin: 0 3px 0 0;
      border: 1px solid $grey-color;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom: none;
      height: 35px;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      border-bottom: 1px solid white;
      margin-bottom: -1px;
      height: 36px;
    }
  }

  .project-box {
    .bottom-footer-section {
      height: 50px !important;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #ddd;
    }

    @media screen and (min-width: 992px) {
      .panel-body {
        height: 250px;
      }

      .panel-footer {
        height: 140px;
      }
    }
  }
}

// -----------------------------------------------
// Contact page
// -----------------------------------------------

#contact {
  .social {
    text-align: center;
  }
  
  .contact-header {
    margin-top: 10px;
  }
}
