body {
  margin: 0;
}

nav {
  width: 90%;
  margin: 40px 5% 40px 5%;
}

.nav-left {
  margin: 0 0 0 auto;
}

.nav-right {
  float: right;
}

nav span {
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid black;
  width: 200px;
}

nav span a {
  text-decoration: none;
  color: green;
}

header {
  clear: both;
  box-sizing: border-box;
  margin: 0;
  height: 500px;
  background-image: url("http://cdn.shopify.com/s/files/1/0001/2033/files/Tea_Ceremony_3_Full.jpg?1011");
  background-position: bottom;
}

h1 {
  font-size: 20em;
  color: white;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: fantasy;
  text-align: right;
  margin: 0 10% 0 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.box-container {
  width: 90%;
}

.row {
  width: 90%;
  display: inline-block;
  margin: 30px auto;
}

.sub-box {
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  width: 45%;
  float: left;
  background-color: #ccb647;
  margin: auto;
}

.sub-box img {
  max-width: 100%;
  height: auto;
}

article {
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 20px;
}

#earl-grey {
  background-image: url("imgs/opaque_black_tea.jpg");  
}

#pretty-black-tea img {
  width: 100%;
}

footer {
  clear: both;
  background-color: #d3d3d3;
  padding: 10px 30px;
  font-size: small;
  margin: 50px 0 0 0;
}

footer p {
  margin: 0px;
  text-align: center;
}