body {
  margin: 0;
}

nav {
  margin: -60px 5% 0 5%;
}

.nav-left {
  margin: 0 0 0 auto;
}

.nav-right {
  float: right;
  margin: 0;
}

nav span {
  display: inline-block;
  background-color: white;
  padding: 10px;
  margin: 0 10px 0 0;
  text-align: center;
  border: 1px solid black;
  width: 200px;
}

nav span a {
  text-decoration: none;
  color: green;
}

header {
  clear: both;
  box-sizing: border-box;
  margin: 0;
  height: 500px;
  background-image: url("imgs/cups-teapot.jpg");
  background-position: bottom;
}

h1 {
  font-size: 20em;
  color: white;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  font-family: fantasy;
  text-align: right;
  margin: 0 10% 0 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.floating-elements {
  box-sizing: border-box;  
  width: 90%;
  margin: 0 auto;
}

.row {
  clear: both;
  margin: 0 auto 0 5%;
  box-sizing: border-box;
}

.left-box {
  box-sizing: border-box;
  border: 1px solid black;
  margin: 40px 50px 0 0;
  float: left;
  width: 45%;
  height: 500px;
}

.right-box {
  box-sizing: border-box;
  border: 1px solid black;
  float: left;
  margin: 40px 0 0 0;
  width: 45%;
  height: 500px;
}

.row span {
  float: left;
  padding: 20px;
  box-sizing: border-box;
  margin: auto auto;
}

#earl-grey {
}

#pretty-black-tea img {
  width: 100%;
}

.spacer {
  clear: both;
  padding: 30px;
  margin: 0;
}

footer {
  clear: both;
  padding: 30px 0 30px 0;
  background-color: #d3d3d3;
  font-size: small;
}

footer p {
  text-align: center;
  margin: 0;
}